@media (max-width: 900px) {

    .hero h2 {
        font-size: 38px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .quick-links {
        grid-template-columns: 1fr 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px) {

    .header {
        padding: 15px;
    }

    .logo-area h1 {
        font-size: 20px;
    }

    .logo-area p {
        font-size: 12px;
    }

    .logo-area img {
        width: 55px;
        height: 55px;
    }


    /* Mobile Navigation */

    .navbar {
        padding: 10px 20px;
    }

    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar li a {
        padding: 12px;
    }


    /* Hero */

    .hero {
        min-height: 400px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }


    /* Sections */

    .section {
        padding: 45px 20px;
    }

    .section-title {
        font-size: 27px;
    }


    /* About */

    .about-container {
        grid-template-columns: 1fr;
    }


    /* Cards */

    .cards {
        grid-template-columns: 1fr;
    }


    /* Quick Links */

    .quick-links {
        grid-template-columns: 1fr;
    }


    /* Footer */

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
}